#u89-4,#u132-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u133-5
{
	font-family: pt-sans-n7, sans-serif;
}

#u134-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u201-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u92-4,#u130-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u210-22
{
	font-family: pt-sans-n4, sans-serif;
}

