#u89-4,#u132-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u133-5
{
	font-family: pt-sans-n7, sans-serif;
}

#u134-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u201-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u92-4,#u130-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u160-4,#u165-4,#u178-4,#u188-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u145-4,#u161-4,#u166-4,#u174-13,#u179-4,#u189-12,#u211-4,#u212-9
{
	font-family: pt-sans-n4, sans-serif;
}

