#u107-7,#u162,#u162-5,#u162-6
{
	font-family: pt-sans-n4, sans-serif;
}

#u143-6,#u135-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u125-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u140-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u229-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu133_input,#widgetu133_prompt,#widgetu124_input,#widgetu124_prompt,#widgetu139_input,#widgetu139_prompt,#widgetu226_input,#widgetu226_prompt
{
	font-family: pt-sans, sans-serif;
}

#u160-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u145-4,#u163-4,#u165-4,#u164-4,#u166-4,#u167-4,#u169-4,#u168-4,#u170-4
{
	font-family: pt-sans-n4, sans-serif;
}

