#u75_align_to_page
{
	position: relative;
}

#u92,#u87,#u81,#u99
{
	background-color: transparent;
	position: relative;
}

#u107-7
{
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 27px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u107
{
	font-weight: 700;
}

#u75,#u161
{
	background-color: #004571;
}

#u162-8
{
	background-color: transparent;
	color: #FFFFFF;
}

#u162-3
{
	text-align: center;
}

#u162
{
	color: #FFFFFF;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u162-5
{
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u162-6
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

