#u89-4,#u132-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u133-5
{
	font-family: pt-sans-n7, sans-serif;
}

#u134-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u201-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u773-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u92-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u130-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u145-4,#u178-4,#u699-2,#u165-4,#u188-4,#u211-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u161-7,#u567-11,#u699-4,#u166-4,#u174-15,#u189-4,#u212-5
{
	font-family: pt-sans-n4, sans-serif;
}

