.version.index /* version checker */
{
	color: #000000;
	background-color: #2F0C1A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1320.8059265276686px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -189px;
	margin-bottom: -36px;
	width: 0.01px;
}

#u82
{
	z-index: 2;
	min-height: 60px;
	padding-bottom: 26px;
}

#u89-4
{
	z-index: 3;
	width: 266px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 215px;
}

#u132-4
{
	z-index: 12;
	width: 120px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 536px;
}

#u132-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 120px;
	margin: 33px -10000px 0px 0px;
}

#u133-5
{
	z-index: 16;
	width: 79px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 666px;
}

#u133-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 33px -10000px 0px 0px;
}

#u134-4
{
	z-index: 21;
	width: 93px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 755px;
}

#u134-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 93px;
	margin: 33px -10000px 0px 0px;
}

#u201-4
{
	z-index: 25;
	width: 57px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 858px;
}

#u201-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 57px;
	margin: 33px -10000px 0px 0px;
}

#u773-4
{
	z-index: 31;
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 925px;
}

#u773-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 33px -10000px 0px 0px;
}

#u82-bw
{
	z-index: 2;
	min-height: 60px;
}

#u766
{
	z-index: 7;
	width: 272px;
	height: 26px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 212px;
}

#u92-4
{
	z-index: 8;
	width: 276px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 218px;
}

#u767
{
	z-index: 29;
	width: 94px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 125px;
}

#u145-4
{
	z-index: 44;
	min-height: 42px;
	background-color: transparent;
	line-height: 40px;
	color: #0071BC;
	font-size: 33px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u145-4-bw
{
	z-index: 44;
	min-height: 42px;
	margin-top: 26px;
}

#pu146
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#u146
{
	z-index: 49;
	min-height: 154px;
	background-color: #2395EE;
	padding-bottom: 17px;
}

#u229
{
	z-index: 50;
	width: 253px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#u161-7
{
	z-index: 54;
	width: 641px;
	min-height: 101px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 295px;
}

#u146-bw
{
	z-index: 49;
	min-height: 154px;
}

#u154
{
	z-index: 52;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 69px;
}

#pu82,#pu175
{
	width: 0.01px;
	margin-left: -100px;
}

#u175
{
	z-index: 48;
	min-height: 203px;
	background-color: #00B529;
	padding-bottom: 5px;
}

#u146_align_to_page,#u175_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u531
{
	z-index: 120;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 213px;
}

#u178-4
{
	z-index: 87;
	width: 283px;
	min-height: 33px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 439px;
}

#u181
{
	z-index: 91;
	width: 129px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 946px;
}

#u175-bw
{
	z-index: 48;
	min-height: 203px;
}

#u546
{
	z-index: 118;
	width: 70px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,70,70);
	-ms-transform: matrix(-1,0,0,-1,70,70);
	transform: matrix(-1,0,0,-1,70,70);
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 774px;
}

#slideshowu565
{
	z-index: 122;
	width: 0.01px;
	height: 174px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 213px;
}

#u570
{
	position: absolute;
	width: 114px;
	height: 121px;
	background-color: transparent;
	top: 4px;
	left: 83px;
}

#u570popup
{
	z-index: 123;
}

#u571
{
	z-index: 124;
	width: 114px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u571_clip
{
	overflow: hidden;
	width: 114px;
	height: 121px;
}

#u571_img
{
	margin: 2px 3px 2px -2px;
}

#u693
{
	z-index: 126;
	width: 114px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u693_img
{
	padding: 4px 17px 5px;
}

#u566
{
	position: absolute;
	width: 338px;
	background-color: transparent;
	left: 196px;
}

#u566popup
{
	z-index: 128;
}

#u567-11
{
	z-index: 129;
	width: 318px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: left;
	font-family: pt-sans, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u567-2
{
	font-size: 21px;
	line-height: 29px;
	font-weight: 700;
}

#u567-4,#u567-6,#u567-8,#u567-9
{
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
}

#u699-6
{
	z-index: 140;
	width: 318px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u699-2
{
	font-size: 21px;
	line-height: 29px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u699-4
{
	font-size: 18px;
	line-height: 25px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u578-3
{
	position: absolute;
	width: 50px;
	min-height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 10px;
}

#u578-3popup
{
	z-index: 146;
}

#u579-3
{
	position: absolute;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 14px;
	left: 560px;
}

#u579-3popup
{
	z-index: 149;
}

#u578,#u579
{
	visibility: hidden;/* 100% transparent text is hidden */
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u162
{
	z-index: 61;
	min-height: 323px;
	background-color: #F79300;
}

#u162_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -31px;
}

#pu220
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 89px;
}

#u220
{
	z-index: 117;
	width: 232px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u168
{
	z-index: 70;
	width: 172px;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 91px;
	position: relative;
}

#pu165-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 328px;
}

#u165-4
{
	z-index: 62;
	width: 458px;
	min-height: 41px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 24px;
	position: relative;
}

#u166-4
{
	z-index: 66;
	width: 573px;
	min-height: 26px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 18px;
	margin-top: 5px;
	position: relative;
}

#u174-15
{
	z-index: 72;
	width: 555px;
	min-height: 122px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u162-bw
{
	z-index: 61;
	min-height: 323px;
	margin-top: -31px;
}

#pu714
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u714
{
	z-index: 42;
	width: 1091px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 35px;
}

#u187
{
	z-index: 93;
	min-height: 204px;
	background-color: #E61455;
}

#u187_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 23px;
	padding-bottom: 32px;
}

#u188-4
{
	z-index: 94;
	width: 776px;
	min-height: 41px;
	background-color: transparent;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	left: 205px;
	position: relative;
}

#u189-4
{
	z-index: 98;
	width: 619px;
	min-height: 97px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	left: 271px;
	margin-top: 11px;
	position: relative;
}

#u187-bw
{
	z-index: 93;
	min-height: 204px;
}

#u199
{
	z-index: 102;
	width: 348px;
	background-color: #2395EE;
	border-radius: 10px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 419px;
}

#u200-4
{
	z-index: 103;
	width: 295px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#u211-4
{
	z-index: 107;
	width: 528px;
	min-height: 29px;
	background-color: transparent;
	line-height: 34px;
	color: #2395EE;
	font-size: 28px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 472px;
	left: 329px;
}

#u212-5
{
	z-index: 111;
	width: 171px;
	min-height: 32px;
	background-color: transparent;
	color: #1C77BC;
	font-size: 20px;
	line-height: 24px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 514px;
}

#u212
{
	font-weight: 700;
}

#kontakti
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 436px;
	left: 42px;
}

#u702
{
	z-index: 152;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 534px;
	left: 469px;
}

#u708
{
	z-index: 154;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 954px;
}

#pu129
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -12px;
}

#u129
{
	z-index: 35;
	min-height: 34px;
	padding-bottom: 2px;
}

#u82_align_to_page,#u129_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u130-4
{
	z-index: 36;
	width: 288px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 436px;
}

#u129-bw
{
	z-index: 35;
	min-height: 34px;
	margin-top: 73px;
}

#u137
{
	z-index: 40;
	width: 100px;
	margin-right: -10000px;
	left: 123px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 189px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

